body {
  margin: 0;
  padding: 0;
  background-color: #f3efff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.Sformbox {
  height: 530px;
  width: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 100px;
  padding: 30px;
  align-items: center;
  background-color: white;
}

.Sformbox h2 {
  color: #6F42C1;
  align-self: flex-start;
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: -10px;
}

.Sformbox input {
  height: 45px;
  width: 300px;
  border: none;
  font-size: 20px;
  outline: none;
  border-bottom: 2px solid #BFA3E6;
  color: #333;
  background-color: #F3EFFF;
  margin-bottom: 10px;
  padding-left: 5px;
}

#signup {
  height: 50px;
  width: 300px;
  margin-top: 10px;
  font-size: 24px;
  background-color: #6F42C1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#signup:hover {
  background-color: #5931a5;
}
div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #007BFF;
}

#role-container h2 {
  font-size: 18px;
  margin: 0 20px 0 5px;
  color: #333; 
}

#role-container{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}